/* _content/apis_app/Shared/MainLayout.razor.rz.scp.css */
.page[b-s960ib7k4y] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s960ib7k4y] {
    flex: 1;
}

.sidebar[b-s960ib7k4y] {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
    height: 85%;
    position: relative;
    overflow-y: scroll;
    background-color: #3C3D3F;
}

.padding-5[b-s960ib7k4y] {
    padding: 5px;
}

.img-responsive[b-s960ib7k4y] {
    display: block;
    max-width: 100% !important;
    height: auto;
}

img[b-s960ib7k4y] {
    vertical-align: middle;
    border-style: none;
}

.wrapper #sidebar .sidebar-menu[b-s960ib7k4y] {
    list-style-type: none;
    padding: 0 10px;
    border-bottom: 1px solid #707070;
}

.wrapper #sidebar .sidebar-menu .menu-item[b-s960ib7k4y] {
    padding: 8px 0;
    border-bottom: 1px solid #707070;
    font-size: 14px;
}

/* ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
} */
.wrapper #sidebar.active .sidebar-menu .menu-item .menu-icon[b-s960ib7k4y] {
    min-width: 31px;
    display: inline-block;
    padding-right: 7px;
}

li[b-s960ib7k4y] {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    border-bottom: 1px solid #707070;
}

ul[b-s960ib7k4y] {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.w-100[b-s960ib7k4y] {
    width: 100% !important;
}

.menu-mft[b-s960ib7k4y] {
    font-size: 0.8rem;
}

.dropdown select[b-s960ib7k4y]::-ms-expand {
    display: none;
    min-width: 45px;
    text-align: center;
    border-right: 1px solid transparent;
}

.mb-0[b-s960ib7k4y],
.my-0[b-s960ib7k4y] {
    margin-bottom: 0 !important;
}

*[b-s960ib7k4y],
*[b-s960ib7k4y]::before,
**[b-s960ib7k4y]::after {
    box-sizing: border-box;
}

.card[b-s960ib7k4y] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

/* #dashboard .card {
    font-family: 'Kanit';
    height: 100%;
    border: unset;
    -webkit-box-shadow: 2px 2px 10px 1px rgb(189 189 189);
    -moz-box-shadow: 2px 2px 10px 1px rgba(189, 189, 189, 1);
    box-shadow: 2px 2px 10px 1px rgb(189 189 189);
    transition: all 0.3s ease;
} */

.grid-container[b-s960ib7k4y] {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.card-body[b-s960ib7k4y] {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.d-flex[b-s960ib7k4y] {
    display: flex !important;
}

#dashboard .card[b-s960ib7k4y] {
    font-family: 'Kanit';
    height: 100%;
    border: unset;
    -webkit-box-shadow: 2px 2px 10px 1px rgb(189 189 189);
    -moz-box-shadow: 2px 2px 10px 1px rgba(189, 189, 189, 1);
    box-shadow: 2px 2px 10px 1px rgb(189 189 189);
    transition: all 0.3s ease;
}

.row[b-s960ib7k4y] {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.mb-2[b-s960ib7k4y],
.my-2[b-s960ib7k4y] {
    margin-bottom: 0.5rem !important;
}

.mt-2[b-s960ib7k4y],
.my-2[b-s960ib7k4y] {
    margin-top: 0.5rem !important;
}

.mr-2[b-s960ib7k4y] {
    margin-right: 0.1rem !important;
}

.ml-2[b-s960ib7k4y] {
    margin-left: 0.1rem !important;
}

.col[b-s960ib7k4y] {
    /* display: table-cell; Make elements inside the container behave like table cells */
    display: block;
    width: 100%;
}

body[b-s960ib7k4y] {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.top-row[b-s960ib7k4y] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-s960ib7k4y]  a,
.top-row .btn-link[b-s960ib7k4y] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-s960ib7k4y] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-s960ib7k4y] {
        display: none;
    }

    .top-row.auth[b-s960ib7k4y] {
        justify-content: space-between;
    }

    .top-row a[b-s960ib7k4y],
    .top-row .btn-link[b-s960ib7k4y] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-s960ib7k4y] {
        flex-direction: row;
    }

    .sidebar[b-s960ib7k4y] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s960ib7k4y] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-s960ib7k4y],
    article[b-s960ib7k4y] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/apis_app/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gvd0uz06wc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gvd0uz06wc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gvd0uz06wc] {
    font-size: 1.1rem;
}

.oi[b-gvd0uz06wc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gvd0uz06wc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gvd0uz06wc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gvd0uz06wc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gvd0uz06wc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gvd0uz06wc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gvd0uz06wc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gvd0uz06wc] {
        display: none;
    }

    .collapse[b-gvd0uz06wc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
